{% extends 'base.html' %}

{% block title %}
  About
{% endblock %}
{% block body %}
  <div class="w-full bg-zinc-700 text-white">
    <h2 class=" flex items-center justify-center font-bold text-3xl text-black bg-[#F5F5DC]">ABOUT US</h2>
    <div class="welcome bg-[#F5F5DC] flex md:flex-row sm:flex-col px-10 py-3 items-center justify-center gap-5">
      <div class="left p-[2rem] h-[350px] w-[100vw]">
        <img class="w-full h-full" src="https://www.updarshanpark.com/assets/images/kashi_1.jpeg" alt="" />
      </div>
      <div class="right text-black bg-[#F5F5DC]">
        <h2 class="text-2xl font-semibold">Welcom To UP DARSHAN PARK</h2>
        <p class="mt-10 font-semibold">Welcome to Lucknow's first waste-to-wonder park, 'UP Darshan Park'. This park features small replicas of 16 famous monuments from the state, constructed using waste materials such as iron scraps, scraps of four-wheelers, rolling shutters, rusted almirah, tyre rims, bicycles frames and household iron waste, among others. The models of monuments to come up at the park include Bara Imambara, Lucknow Vidhan Sabha, Jhansi Fort, Banke Bihari and Vrindavan temples of Mathura, Devipatan Mandir of Balrampur, Taj Mahal, Kashi Vishwanath Temple of Varanasi and Dudhwa National Park. Besides, an open-air theatre, food court and other facilities will also be part of the park.</p>
      </div>
    </div>
  
    <div class="grid grid-cols-4 w-auto sm:grid-cols-12 gap-4">
      <div class=" sm:col-span-1 bg-red-300 w-full">Column</div>
      <div class="col-span-4 sm:col-span-1 w-full">Column</div>
      <div class="col-span-4 sm:col-span-1 w-full">Column</div>
    </div>
  </div>

{% endblock %}
