{% extends "base.html" %}

{% block title%}About{% endblock title%}
{% block body%}
<div class="w-full flex flex-col min-h-[90vh] bg-[#FFFDD0]">
 
   <div class="form ">

    <section class="body-font relative text-black bg-zinc-900 border-indigo-500 border-4 md:m-32  text-gray-400">

        <div class="container font-black mx-auto px-5 py-24">
          
          <div class="mb-12 flex w-full flex-col text-center">
            <h1 class="title-font mb-4 text-2xl font-medium text-white sm:text-3xl">Contact Us</h1>
            <p class="mx-auto text-base leading-relaxed lg:w-2/3">Feel free to reach out to us! Whether you have a question,
              feedback, or a collaboration proposal, we'd love to hear from you.
            </p>
          </div>
      
          <div class="mx-auto md:w-2/3 lg:w-1/2">
            <div class="-m-2 flex flex-wrap">
      
              <!-- form -->
              <div class="w-1/2 p-2">
                <div class="relative">
                  <input type="text" id="name" name="name" class="peer w-full rounded border border-gray-700 bg-gray-800 bg-opacity-40 py-1 px-3 text-base leading-8 text-gray-100 placeholder-transparent outline-none transition-colors duration-200 ease-in-out focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900" placeholder="Name" />
                  <label for="name" class="absolute left-3 -top-6 bg-transparent text-sm leading-7 text-indigo-500 transition-all peer-placeholder-shown:left-3 peer-placeholder-shown:top-2 peer-placeholder-shown:bg-gray-900 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:left-3 peer-focus:-top-6 peer-focus:text-sm peer-focus:text-indigo-500">Name</label>
                </div>
              </div>
              <div class="w-1/2 p-2">
                <div class="relative">
                  <input type="email" id="email" name="email" class="peer w-full rounded border border-gray-700 bg-gray-800 bg-opacity-40 py-1 px-3 text-base leading-8 text-gray-100 placeholder-transparent outline-none transition-colors duration-200 ease-in-out focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900" placeholder="Email" />
                  <label for="email" class="absolute left-3 -top-6 bg-transparent text-sm leading-7 text-indigo-500 transition-all peer-placeholder-shown:left-3 peer-placeholder-shown:top-2 peer-placeholder-shown:bg-gray-900 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:left-3 peer-focus:-top-6 peer-focus:text-sm peer-focus:text-indigo-500">Email</label>
                </div>
              </div>
              <div class="mt-4 w-full p-2">
                <div class="relative">
                  <textarea id="message" name="message" class="peer h-32 w-full resize-none rounded border border-gray-700 bg-gray-800 bg-opacity-40 py-1 px-3 text-base leading-6 text-gray-100 placeholder-transparent outline-none transition-colors duration-200 ease-in-out focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900" placeholder="Message"></textarea>
                  <label for="message" class="absolute left-3 -top-6 bg-transparent text-sm leading-7 text-indigo-500 transition-all peer-placeholder-shown:left-3 peer-placeholder-shown:top-2 peer-placeholder-shown:bg-gray-900 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:left-3 peer-focus:-top-6 peer-focus:text-sm peer-focus:text-indigo-500">Message</label>
                </div>
              </div>
              <div class="w-full p-2">
                <button class="mx-auto flex rounded border-0 bg-indigo-500 py-2 px-8 text-lg text-white hover:bg-indigo-600 focus:outline-none">Button</button>
              </div>
      
      
            
      
            </div>
          </div>
      
        </div>
        
      </section>

   </div>
   <div class="info md:px-20  flex flex-row justify-between md:px-20">
    <div class="left p-5 flex font-semibold flex-col">
        <h2 class="md:text-xl pb-5 ">Contact for advertising and <br>promotional opportunities</h2>
        <p>promotions@ztech-india.com</p>
    </div>
    <div class="right p-5">
        <h2 class="font-semibold text-xl">Find us</h2>
        <div class="more pt-5 flex flex-col font-semibold">
          <a href="https://www.google.com/maps/place/Uttar+Pradesh+Tourism/@26.8564599,80.9761156,19z/data=!3m1!4b1!4m6!3m5!1s0x399bfd303fffffff:0xba0de2fb96a6cf!8m2!3d26.8564587!4d80.9767593!16s%2Fg%2F1tsr1ltt?entry=tts">
            <p>Paryatan Bhawan ,C-13,Vipin Khand,</p>
            <p>Gpmti Nagar,Behind Taj Mahal,</p>
            <p>Lucknow ,UP-226010</p>
          </a>
          
        </div>
    </div>
   </div>
   
</div>
{%endblock body%}